:root {
    --ion-color-new: #FF8C00;
  
    --ion-color-new-contrast: #ffffff;
    --ion-color-new-contrast-rgb: 255,255,255;
    --ion-color-new-shade: #cc7000;
    --ion-color-new-tint: #de9d4e;
  }

.g-ediv {
    background: #e6e6e6;
    height: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    display: block;
    text-align: right;
}

.g-discount {
    width: 3em;
    height: 3em;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 999;
    background-image: url("./skidka.png");
    background-size: contain;
    color: white;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    color: red;
    text-decoration: line-through;
}

@media screen and (max-width: 2900px) {
    .g-content {
        display: flex;
        overflow-x: scroll;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: #e6e6e6; 
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
        padding-top: 1em;
    }   
    .g-content::-webkit-scrollbar {
        display: none;
    }
    .g-card-div {
        width: calc(130px + (320 - 40) * ((100vw - 270px) / (1200 - 270)));
        height: calc(150px + (330 - 150) * ((100vw - 270px) / (1200 - 270)));
    }
    .g-card {
        width: 90%;
        height: 95%;
        position: relative;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .g-img {
        height: calc(45px + (150 - 45) * ((100vw - 270px) / (1200 - 270)));
        width: 100%; 
        top:0.5rem;
        margin-bottom: 0.5rem;
        position: relative;
        text-align: center;    
    }

    .g-price {
        display: flex;
        /* margin-top: 0.5em; */
        margin-left: 1em;
        right: 1em;
        top: 1em;
    }
    .g-text{
        position: relative;              
        display: flex;
        align-items: center;                   
        width: 100%;

    }
    .g-size-btn{
        width: calc(20px + (50 - 12) * ((100vw - 270px) / (1200 - 270))) !important;
        height: calc(20px + (50 - 12) * ((100vw - 270px) / (1200 - 270))) !important;
        font-size: calc(12px + (26 - 12) * ((100vw - 270px) / (1200 - 270))) !important;
    }
    .g-size-btn2{
        width: calc(50px + (150 - 12) * ((100vw - 270px) / (1200 - 270))) !important;
        height: calc(20px + (50 - 12) * ((100vw - 270px) / (1200 - 270))) !important;
        
    }

    ion-button {
        --text-decoration: none; 
        text-transform: none;
    }
    ion-card{
        border-radius: 10px;
    }
    ion-card-subtitle{
        font-size: calc(10px + (26 - 10) * ((100vw - 270px) / (1200 - 270)));
    }
    .ion-color-new {
        --ion-color-base: var(--ion-color-new);
       
        --ion-color-contrast: var(--ion-color-new-contrast);
        --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
        --ion-color-shade: var(--ion-color-new-shade);
        --ion-color-tint: var(--ion-color-new-tint);
      }
    .g-position{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0.5em;
        
    }

    ion-segment-button {
        min-width: auto !important;
        font: 10px Arial;
    }

}
@media screen and (max-width: 500px) {

}
  