
.lg-input {
    width: 85% !important;
    display: flex;
    margin: 0 auto;
    
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-radius: 15px;
    font-family: monospace;
    font: 22px Helvetica !important;
    letter-spacing: 0.2em;
    border: 1px solid #FF8C00;
    height: 70px !important;
}
.lg-promo-input {
    width: 85% !important;
    display: flex;
    margin-left: 1em;
    
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-radius: 15px;
    font-family: monospace;
    font: bold 24px Helvetica !important;
    letter-spacing: 0.3em;
    /* border: 1px solid #FF8C00; */
    height: 70px !important;
}
.lg-sms-box {

    display: flex;
    width: 15em;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1em;
    border: 1px solid #FF8C00;
    border-radius: 15px ;
    height:60px;
    
}
.lg-promo-box {

    display: flex;
    width: 15em;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1em;
    border: 1px solid #FF8C00;
    border-radius: 15px ;
    height:60px;
    
}
.lg-div-1 {
    display: flex;
    position: absolute;
    width: 100%;
    left: -0.5em;
    height: 2em;
    /* margin-left: -1em; */
    letter-spacing: 1em;
    justify-content: space-between;
    font-size: 30px;
    padding-left: 1em;
    /* text-align: center; */
    font-family: monospace;
    /* margin: 0 auto; */
    padding-top: 0.2em;
    
}
.lg-sms-input {
    width: 100%;
    height: 2em;
    margin-left: 1em;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    letter-spacing: 1em;
    font-size: 30px;
    font-family: monospace;
    /* text-align: center; */
    padding-top: 1em;

}
.r-card { 
        
    position: relative;
    width: 100% !important;
    height: 65% !important;
    padding: 0;
    text-align: center;
}
.r-card img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%) ;
    max-width:100%;
    max-height: 100% ;

}
.r-circle{
    width: 100%;
    height: 20px !important;
    background-color: rgb(214, 179, 146);
}
.r-circle3{
    width: 100%;
    height: 20px !important;
    background-color: rgb(78, 102, 168);
}
.r-circle2 {
    background-color: white !important; 
    
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.orange-clr-bg{
    color: white;
    background-color: #FF8C00;
    width: 85%;
    height: 3rem;
    border-radius: 15px 15px 15px 15px;

}
.btn-r{
    background-color: white ;
    margin-top: 0 auto;
    width: 100%;
    padding-top: 1em;
    text-align: center;
}
.r-content{
    background-color:white !important;
    margin: 0 auto;
    width: 100%;
    height: 31%;
 
}
.r-clr{
    color: #FF8C00;
    width: 80% !important;
}
@font-face {
    font-family: 'AeroportMono';
    src: "assets/AeroportMono.ttf";
    /* font-weight: normal; */
    /* font-style: normal; */
}
