.ml-auto { margin-left: auto;}
.mr-auto { margin-right: auto;}
.mt-auto { margin-top: auto}
.mb-auto { margin-bottom: auto}

.mt-025 { margin-top: 0.25em;}
.mt-05 { margin-top: 0.5em;}
.mt-1 { margin-top: 1em;}
.mt-2 { margin-top: 2em;}
.mt-3 { margin-top: 3em;}
.mt-4 { margin-top: 4em;}

.mb-025 { margin-bottom: 0.25em;}
.mb-05 { margin-bottom: 0.5em;}
.mb-1 { margin-bottom: 1em;}
.mb-2 { margin-bottom: 2em;}
.mb-3 { margin-bottom: 3em;}
.mb-4 { margin-bottom: 4em;}

.ml-025 { margin-left: 0.25em;}
.ml-05 { margin-left: 0.5em;}
.ml-1 { margin-left: 1em;}
.ml-2 { margin-left: 2em;}
.ml-3 { margin-left: 3em;}
.ml-4 { margin-left: 4em;}

.mr-025 { margin-right: 0.25em;}
.mr-05 { margin-right: 0.5em;}
.mr-1 { margin-right: 1em;}
.mr-2 { margin-right: 2em;}
.mr-3 { margin-right: 3em;}
.mr-4 { margin-right: 4em;}

.h-10 { height: 10%; }
.w-10 { width: 10%; }
.h-20 { height: 20%; }
.w-20 { width: 20%; }
.h-30 { height: 30%; }
.w-30 { width: 30%; }
.h-40 { height: 40%; }
.w-40 { width: 40%; }
.h-50 { height: 50%; }
.w-50 { width: 50%; }
.h-60 { height: 60%; }
.w-60 { width: 60%; }
.h-70 { height: 70%; }
.w-70 { width: 70%; }
.h-80 { height: 80%; }
.w-80 { width: 80%; }
.h-90 { height: 90%; }
.w-90 { width: 90%; }
.h-100 { height: 100%; }
.h-100 { height: 100%; }
.w-100 { width: 100%; }

.h-1 { height: 1em;}
.h-2 { height: 2em;}
.h-3 { height: 3em;}
.h-4 { height: 4em;}

.w-1 { width: 1em}
.w-2 { width: 2em}
.w-3 { width: 3em}
.w-4 { width: 4em}

@font-face {
    font-family: 'Aeroport';
    src: "assets/Aeroport.ttf";
    /* font-weight: normal; */
    /* font-style: normal; */
}

.f-10 {font: 10px Arial }
.f-11 {font: 11px Arial }
.f-12 {font: 12px Arial }
.f-13 {font: 13px Arial }
.f-14 {font: 14px Arial }
.f-15 {font: 15px Arial }
.f-16 {font: 16px Arial }
.f-17 {font: 17px Arial }
.f-18 {font: 18px Arial }
.f-19 {font: 19px Arial }
.f-20 {font: 20px Arial }
.f-21 {font: 21px Arial }
.f-22 {font: 22px Arial }
.f-23 {font: 23px Arial }
.f-24 {font: 23px Arial }
.f-25 {font: 23px Arial }
.f-26 {font: 23px Arial }
.f-27 {font: 23px Arial }

.hide {
    display: none;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.blue {
    color:blue;
}

.red {
    color: red
}

.m-input {
    /* margin-top: 0.5em; */
    --placeholder-color:initial;
    --placeholder-font-style:initial;
    --placeholder-font-weight:initial;
    --placeholder-opacity:.5;
    --padding-top:0;
    --padding-end:0;
    --padding-bottom:0;
    --padding-start:0;
    --background:transparent;
    --color:initial;
    position:relative;
    -ms-flex-align:center;
    align-items:center;
    padding:0 !important;
    z-index:2;

    /* border-radius:var(--border-radius); */
    padding-left:var(--padding-start);
    padding-right:var(--padding-end);
    padding-top:var(--padding-top);
    padding-bottom:var(--padding-bottom);
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    letter-spacing:inherit;
    text-decoration:inherit;
    text-indent:inherit;
    text-overflow:inherit;
    text-transform:inherit;
    text-align:inherit;
    white-space:inherit;
    color:inherit;
    display:inline-block;
    -ms-flex:1;
    flex:1;
    width:100%;
    max-width:100%;
    max-height:100%;
    border:0;
    outline:none;
    background:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none

}

:root {
    --b_color: rgb(0, 100, 255);
    --b_color_l: rgb(0, 100, 255);
}
.bgcolormain{
    background-color: white;
}
ion-button {
    --text-decoration: none; 
    text-transform: none;
}

ion-segment-button {
    min-width: auto !important;
    font: 10px Helvetica;
}

.back {
    width: 2em;
    height: 2em;
    color: var(--b_color);
}

.a-right {
    text-align: right;
}
.a-center {
    text-align: center;
}

.t-line {
    text-decoration: line-through;
}

.ion-page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: normal;
    contain: layout size style;
    overflow: hidden;
    z-index: 0;
  }

/* react dadata */

.react-dadata__container{
    position:relative;
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
}

.react-dadata__input{
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    display:block;
    font-size:16px;
    height:38px;
    outline:none;
    padding:0 10px;
    width:100%
}
.react-dadata__input:focus{
    border-color:#007cd6;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 0 3px rgba(0,124,214,.3)
}

.react-dadata__suggestions{
    background-color:#fff;
    border-radius:4px;
    box-shadow:0 1px 6px 3px rgba(0,0,0,.1);
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;text-align:left;
    top:calc(100% + 8px);z-index:10
}
.react-dadata__suggestion-note{
    color:#828282;
    font-size:14px;
    padding:10px 10px 5px
}

.react-dadata__suggestion{
    background:none;
    border:none;
    box-sizing:border-box;
    cursor:pointer;
    display:block;
    font-size:15px;
    padding:7px 10px;
    text-align:left;
    width:100%
}

.react-dadata__suggestion--line-through{
    text-decoration:line-through
}

.react-dadata__suggestion-subtitle{
    color:#777;
    font-size:14px;
    margin-top:4px
}

.react-dadata__suggestion-subtitle-item{
    display:inline-block;
    margin-bottom:4px;
    margin-right:16px
}

.react-dadata__suggestion-subtitle-item:last-child{
    margin-right:0
}

.react-dadata__suggestion--current{
    background-color:rgba(0,124,214,.15)
}

.react-dadata__suggestion:hover{
    background-color:rgba(0,124,214,.1)
}

.react-dadata mark{
    background:none
}

.react-dadata--highlighted{
    color:#0094ff
}